<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" href="{baseURL}/static/css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="{baseURL}/static/css/app.css" />
      <link rel="stylesheet" type="text/css" href="{baseURL}/static/css/style.css" />
    <title>{title}</title> 
  </head> 
  <body>

    <div class="app-masthead">
      <div class="container">
        <nav class="app-nav">
         </nav>
      </div>
    </div>
    <div class="container-fluid">
        <div class='row-fluid'>
            <div class='span3'></div>
            <div class="app-header">Business Tracker - {title}</div>
        </div>
        <div class='row-fluid'>
            <div class="span3">
                <div class='well sidebar-nav'>
                    <ul class='nav nav-list'></ul>
                    <li class='nav-header'>Favorites</li>
                    <li class='nav-header'>Recents</li>
                    <li><a href='#'>test</a></li>
                </div>
            </div>

            <div id="" class="span9">
              {content|s}
            </div>
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                {side|s}
            </div>

        </div>
    </div>

    <script src="{baseURL}/static/js/jquery-1.5.2.min.js"></script>
    <script src="{baseURL}/static/js/json2.js"></script>
    <script src="{baseURL}/static/js/jquery.tablesorter.min.js"></script>
    <!--<script src="{baseURL}/modules.js"></script>-->
    <!--<script src="{baseURL}/kanso.js"></script>-->
    <script>
        var base_url ="{baseURL}";
        $( document ).ready(function() {
            $.getJSON( "{baseURL}" + "/menus", function( data )
                {
                    var items =[];
                    $.each(data.rows,function(key,val){
                        items.push('<a class=" app-nav-item " href="'+base_url + "/" +  val.value.link + '">' + val.key + '</a>');
                    });
                    console.log("Got menu items (",items.length,")");
                    $("nav.app-nav").html(items.join(""));
                }
            ).fail(function(){console.log("Error retrievine menu.");
                    }
            );
            $('.tablesorter').tablesorter();
        });


            //var items = [];
            //$.each( data, function( key, val ) {
            //    alert(key,value);
            //items.push( "<li id='" + key + "'>" + val + "</li>" );
            //});
            //$( "<ul/>", {
            //"class": "my-new-list",
            //html: items.join( "" )
            //}).appendTo( "body" );
            //});
        //var add = require('lib/client').add;
        //$('#content').append('<p>Kanso can add numbers 1+2+3 = ' + add(1,2,3) + '.</p>');
    </script>
  </body>
</html>
